<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.attraining.salecontract.dao.MstTreadelanInfoMapper">
  <resultMap id="BaseResultMap" type="com.attraining.salecontract.bean.MstTreadelanInfo">
    <id column="treadeLan_cd" jdbcType="CHAR" property="treadelanCd" />
    <result column="treadeLan_name" jdbcType="VARCHAR" property="treadelanName" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_date" jdbcType="DATE" property="updateDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    treadeLan_cd, treadeLan_name, memo, create_user, create_date, update_user, update_date
  </sql>
  <select id="selectByExample" parameterType="com.attraining.salecontract.bean.MstTreadelanInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_mst_treadelan_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_mst_treadelan_info
    where treadeLan_cd = #{treadelanCd,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_mst_treadelan_info
    where treadeLan_cd = #{treadelanCd,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.attraining.salecontract.bean.MstTreadelanInfoExample">
    delete from tb_mst_treadelan_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.attraining.salecontract.bean.MstTreadelanInfo">
    insert into tb_mst_treadelan_info (treadeLan_cd, treadeLan_name, memo, 
      create_user, create_date, update_user, 
      update_date)
    values (#{treadelanCd,jdbcType=CHAR}, #{treadelanName,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, 
      #{createUser,jdbcType=VARCHAR}, #{createDate,jdbcType=DATE}, #{updateUser,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.attraining.salecontract.bean.MstTreadelanInfo">
    insert into tb_mst_treadelan_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="treadelanCd != null">
        treadeLan_cd,
      </if>
      <if test="treadelanName != null">
        treadeLan_name,
      </if>
      <if test="memo != null">
        memo,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="treadelanCd != null">
        #{treadelanCd,jdbcType=CHAR},
      </if>
      <if test="treadelanName != null">
        #{treadelanName,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=DATE},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.attraining.salecontract.bean.MstTreadelanInfoExample" resultType="java.lang.Long">
    select count(*) from tb_mst_treadelan_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_mst_treadelan_info
    <set>
      <if test="record.treadelanCd != null">
        treadeLan_cd = #{record.treadelanCd,jdbcType=CHAR},
      </if>
      <if test="record.treadelanName != null">
        treadeLan_name = #{record.treadelanName,jdbcType=VARCHAR},
      </if>
      <if test="record.memo != null">
        memo = #{record.memo,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=DATE},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_mst_treadelan_info
    set treadeLan_cd = #{record.treadelanCd,jdbcType=CHAR},
      treadeLan_name = #{record.treadelanName,jdbcType=VARCHAR},
      memo = #{record.memo,jdbcType=VARCHAR},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=DATE},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=DATE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.attraining.salecontract.bean.MstTreadelanInfo">
    update tb_mst_treadelan_info
    <set>
      <if test="treadelanName != null">
        treadeLan_name = #{treadelanName,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=DATE},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=DATE},
      </if>
    </set>
    where treadeLan_cd = #{treadelanCd,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.attraining.salecontract.bean.MstTreadelanInfo">
    update tb_mst_treadelan_info
    set treadeLan_name = #{treadelanName,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=DATE},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=DATE}
    where treadeLan_cd = #{treadelanCd,jdbcType=CHAR}
  </update>
</mapper>